/* Add a black background color to the top navigation */
.Login{
  overflow: hidden;
  float: right;
  color: #f2f2f2;
  padding: 14px 16px;
  text-decoration: none;
  font-size: 14px;
  position: absolute;
  right: 0;
  text-align: right;
  }
  .Register{
    overflow: hidden;
    float: right;
    color: #f2f2f2;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 14px;
    position: absolute;
    right: 0;
    text-align: right;
  }

  .right{
    text-align: right;
  }