/* Add a black background color to the top navigation */
.Login {
    background-color: #FFF;
    overflow: hidden;
    color: #2f2f2f;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 18px;
    position: absolute;
    right: 0;
    border-width: 1px;
    border-color: #000;
  }