#searchbar {
    position: absolute;
    right: 35%;
    text-align: center;
    margin: '0 auto';
    top: -20px;

}

#actualsearchbar {
    background-color: #dddddd;
    border: 3px solid black;
    font-size: 32px;
    font-weight: bold;
}